.container{
    width: 1000px;
    margin-top: 1cm;
    
}
td input{
    height: max-content;
    text-align: center;
    background-color: transparent !important;
    width: 3cm;
    
}
th, td {
    text-align: center;
}
h4{
    margin-top: 0.5cm;
}
#them{
    margin-top: 0.5cm;
}
#edit{
    display:none;
    
}
#the{
    max-width: 18rem
}