.container{
    width: 1000px;
    margin-top: 1cm;
    
}
td input{
    height: max-content;
    text-align: center;
    background-color: transparent !important;
    width: 3cm;
    
}
th, td {
    text-align: center;
}
h4{
    margin-top: 0.5cm;
}
#them{
    margin-top: 0.5cm;
}
#edit{
    display:none;
    
}
#the{
    max-width: 18rem
}
i{
    animation-iteration-count: infinite;
}

      
@keyframes example {
    from {background-color: rgb(19, 134, 228);}
    to {background-color: rgb(223, 58, 17);}
}
#crawl{
    margin-top: 0.5cm;
    margin-left: 40%;
}
img{
    height: 1cm;
    width: 1cm;
}