header > div {
  padding: 0 25px;
  border-bottom: 1px solid lightgray;
  display: flex;
}

#search-bar .align{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo-top {
  width: 124px;
  height: 54px;
  background-image: url(https://baomoi.com/images/default-skin/bm-logo.png);
  background-position: 0 0;
  display: inline-block;
  vertical-align: middle;
  background-size: 124px 54px;
  margin-right: 20px;
}

.search-input {
  width: 100%;
  padding: 5px 10px 5px 40px;
  color: rgba(0, 0, 0, 1);
  background: url(https://i.imgur.com/lrQiTER.png) no-repeat 1%;
  background-size: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0px;
}

.search-button {
  cursor: pointer;
  width: 100px;
  border: none;
  background-color: #fb3e44;
  color: white;
  padding: 0px;  
}

.link {
  text-decoration: none;
  color: gray;
  padding: 2px 10px;
}

.gray-border {
  border: 1px gray solid;
  padding: 10px 15px 10px 15px;
  margin-left: 20px;
}

.form {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 260px;
}

.join-log-btn {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
