.container{
    width: 1000px;
    margin-top: 1cm;   
}
td input{
    height: max-content;
    text-align: center;
    background-color: transparent !important;
    width: 3cm;  
}
th, td {
    text-align: center;
}
h4{
    margin-top: 0.5cm}
   

#save{
    margin-left: 45%;
}
textarea{
    height: 100px;
}   
button{
    margin-left: 45%;
}
#thumbnail{
    height: 3cm;
}
#article{
    margin-right:0cm;
}
#xem{
    width: 2cm;
}
#xoa{
    width: 1cm;
    height: 1cm;
}